* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Sigmar', 'Nunito', sans-serif;
    background-color: #262527;
    overflow: hidden;
}

h2 {

    text-align: center;
    min-height: 100px;

}



#title_todo {
    font-weight: 700;
    font-size: 3rem;

}

#activity_todo {
    font-weight: 400;
    font-size: 2.8rem;
}

@media only screen and (max-width: 1000px) {
    h2 {

        min-height: 200px;

    }

    #title_todo {

        font-size: 4.2rem;

    }

    #activity_todo {

        font-size: 3.9rem;
    }

    .custom-btn {
        width: 510px;

        font-size: 3rem;
    }
}

input,
textarea,
button {
    font-family: 'Nunito', sans-serif;
}

.wrapper {
    width: 100%;
    height: 100vh;
    color: #fae881;
    overflow: hidden;
}

.flex_box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box {
    position: absolute;
    background-color: black;
    width: 50px;
    height: 50px;
    transition: 0.2s;
}

.background {
    position: absolute;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    overflow: hidden;
}

.input {
    display: flex;
    flex-direction: column;
}

input,
textarea {
    padding: 8px 10px;
    margin: 3px 8px 16px 8px;
    background-color: rgba(222, 239, 248, 0.877);
    border: 0px transparent;
    border-radius: 5px;
    color: rgb(97, 4, 184);
    font-size: 16px;
    word-break: break-all;
    /* haven't found the best solution here yet, paragraphs are difficult to deal with */
    hyphens: auto;
    z-index: 1;
}

label {
    margin: 0 8px;
    font-size: 14px;
    color: white;
}

.button_wrapper {
    display: flex;
    justify-content: flex-end;
}

button {
    padding: 8px 14px;
    margin: 20px 8px 0 0;
    border-width: 0px;
    border-radius: 5px;
    color: white;
    background-color: #b69269;
    transition: 0.3s;
    z-index: 1;
}

button:hover {
    color: rgb(60, 35, 153);
    background-color: white;
}

.star {
    position: absolute;
    transition: 1s;
    overflow: hidden;
    opacity: 1;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    z-index: -90;
}

.star svg {
    height: 100%;
    width: auto;
}

.star_inner {
    height: 15px;
}

.cover {
    position: fixed;
    top: 0px;
    left: 0px;
    pointer-events: none;
    height: 100vh;
    width: 100%;
    z-index: 999;
    overflow: hidden;
}

.ghost {
    position: absolute;
    padding: 8px 10px;
    border: 0px transparent;
    border-radius: 5px;
    z-index: 1;
    color: rgb(97, 4, 184);
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
}

.ghost>div {
    margin: 0;
    padding: 0;
    transition: 5s;
}

.blank {
    width: 4px;
}

.background.fade {
    animation: fade forwards ease 5s;
}

@keyframes fade {
    0% {
        opacity: 1;
        transform: translate(0vw, 0) skew(0);
    }

    20% {
        opacity: 0.8;
        transform: translate(0vw, 0) skew(0);
    }

    100% {
        opacity: 0;
        transform: translate(50vw, -50vh) skew(-45deg);
    }
}

.background.fade_in {
    animation: fade_in forwards ease 6s;
}

@keyframes fade_in {
    0% {
        opacity: 0;
        transform: translate(-50vw, 150vh) skew(-45deg);
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translate(0) skew(0);
    }
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(140, 145, 216);
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgb(140, 145, 216);
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: rgb(140, 145, 216);
}

.sign {
    position: absolute;
    color: white;
    bottom: 10px;
    right: 10px;
    font-size: 2rem;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}



.awesome-title {
    font-weight: 700;
    font-size: 6rem;
    background-image: linear-gradient(70deg,
            rgb(64, 224, 208),
            rgb(255, 140, 0),
            rgb(255, 0, 128),
            rgb(64, 224, 208),
            rgb(255, 140, 0),
            rgb(255, 0, 128));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-size: 200%;
    animation: myanimation 2s linear infinite alternate;
    position: relative;
    text-align: center;
}

.awesome-title::before {
    content: attr(data-text);
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    font-weight: 700;
    font-size: 6rem;
    background-image: linear-gradient(70deg, rgb(64, 224, 208), rgb(255, 140, 0), rgb(255, 0, 128), rgb(64, 224, 208), rgb(255, 140, 0), rgb(255, 0, 128));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-size: 200%;
    animation: myanimation 2s linear infinite alternate;
    filter: blur(32px);
}


@keyframes myanimation {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 100%;
    }
}

@media screen and (max-width: 760px) {

    p,
    p::before {
        font-size: 3rem;
    }
}

.container {
    width: 70%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.custom-btn {

    width: 320px;
    font-size: 1.8rem;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}

/* 16 */
.btn-16 {
    border: none;

}

.btn-16:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    direction: rtl;
    z-index: -1;
    box-shadow:
        -7px -7px 20px 0px #fff9,
        -4px -4px 5px 0px #fff9,
        7px 7px 20px 0px #0002,
        4px 4px 5px 0px #0001;
    transition: all 0.3s ease;
}

.btn-16:hover {
    color: #000;
}

.btn-16:hover:after {
    left: auto;
    right: 0;
    width: 100%;
}

.btn-16:active {
    top: 2px;
}